.home-ninth-section {
    grid-row-start: 9;
    grid-row-end: 9;
}

@media screen and (min-device-width: 1440px) {
    .ninth-container {
        grid-auto-rows: repeat (2, 1fr);
        display: grid;
        background: #FEF6F3;
    }

    .ninth-upper-container {
        grid-row-start: 1;
        grid-row-end: 1;
        text-align: center;
    }

    .ninth-upper-container h4 {
        font-size: 1.2rem;
        color: #EF5F34;
        font-family: Roboto Slab, serif;
    }

    .ninth-upper-container h2 {
        font-size: 2.66667rem;
        position: relative;
        text-transform: capitalize;
        font-family: Roboto Slab, serif;
        margin: 15px 0 20px;
    }

    .ninth-upper-container p {
        color: #4F555A;
        line-height: 1.8em;

    }

    .ninth-lower-container {
        grid-row-start: 2;
        grid-row-end: 2;
        background: #FEF6F3;
    }

    .ninth-lower-column-container h4,
    h2 {
        margin-left: 25px;
    }

    .ninth-lower-column-container p {
        width: 80%;
        margin-left: 25px;
        color: #4F555A;
        line-height: 1.8em;
    }

    .ninth-lower-column-container h4 {
        font-weight: 600;
        color: #107569;
    }

    .ninth-lower-column-container {
        display: grid;
        grid-auto-columns: repeat(3, 1fr);
        grid-gap: 50px;
        align-content: center;
        justify-content: center;
        width: 100%;
    }

    .ninth-lower-column-container div {
        box-shadow: 0 1px 15px 0 rgb(62 65 159 / 15%);
        border-radius: 15px;
        background: #fff;
    }

    .ninth-lower-column-container h2 {
        font-size: 20px;
        width: 250px;
    }

    .ninth-lower-column-container a {
        color: #212158;
        transition: all .2s;
        text-decoration: none;
        font-weight: 600;
    }

    .ninth-lower-column-container img {
        height: 300px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ninth-lower-column-container a:hover {
        color: #EF5F34;
    }

    .ninth-lower-first-div {
        grid-column-start: 1;
        grid-column-end: 1;
        box-sizing: border-box;
        overflow: hidden;
    }

    .ninth-lower-second-div {
        grid-column-start: 2;
        grid-column-end: 2;
        box-sizing: border-box;
        overflow: hidden;
    }

    .ninth-lower-third-div {
        grid-column-start: 3;
        grid-column-end: 3;
        box-sizing: border-box;
        overflow: hidden;
    }

    .ninth-lower-column-container hr {
        width: 85%;
        opacity: 0.3;
    }

    .ninth-section-comments {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100%;
        margin-left: 25px;
    }

    .ninth-section-comments img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    .ninth-section-comments svg {
        margin-left: 55px;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width:1439px) {
    .ninth-container {
        grid-auto-rows: repeat (2, 1fr);
        display: grid;
        background: #FEF6F3;
    }

    .ninth-upper-container {
        grid-row-start: 1;
        grid-row-end: 1;
        text-align: center;
        margin-bottom: 30px;
    }

    .ninth-upper-container h4 {
        font-size: 18px;
        color: #EF5F34;
        font-family: Roboto Slab, serif;
    }

    .ninth-upper-container h2 {
        font-size: 35px;
        text-transform: capitalize;
        font-family: Roboto Slab, serif;
        margin: 15px 0 20px;
    }

    .ninth-upper-container p {
        color: #4F555A;
        line-height: 1.8em;
        margin-left: 320px;
        margin-right: 320px;
    }

    .ninth-lower-container {
        grid-row-start: 2;
        grid-row-end: 2;
        background: #FEF6F3;
        padding-bottom: 80px;
    }

    .ninth-lower-column-container h4,
    h2 {
        margin-left: 14px;
    }

    .ninth-lower-column-container p {
        width: 50%;
        margin-left: 14px;
        color: #4F555A;
        line-height: 1.8em;
    }

    .ninth-lower-column-container h4 {
        font-weight: 600;
        color: #107569;
    }

    .ninth-lower-column-container {
        display: grid;
        grid-auto-columns: repeat(3, 1fr);
        grid-gap: 18px;
        align-content: center;
        justify-content: center;
        margin-left: 40px;
        margin-right: 40px;
    }

    .ninth-lower-column-container div {
        box-shadow: 0 1px 15px 0 rgb(62 65 159 / 15%);
        border-radius: 15px;
        background: #fff;
    }

    .ninth-lower-column-container h2 {
        font-size: 18px;
        width: 250px;
    }

    .ninth-lower-column-container a {
        color: #212158;
        transition: all .2s;
        text-decoration: none;
        font-weight: 600;
    }

    .ninth-lower-column-container img {
        width: 300px;
        height: 240px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ninth-lower-column-container a:hover {
        color: #EF5F34;
    }

    .ninth-lower-first-div {
        grid-column-start: 1;
        grid-column-end: 1;
        box-sizing: border-box;
        overflow: hidden;
    }

    .ninth-lower-second-div {
        grid-column-start: 2;
        grid-column-end: 2;
        box-sizing: border-box;
        overflow: hidden;
    }

    .ninth-lower-third-div {
        grid-column-start: 3;
        grid-column-end: 3;
        box-sizing: border-box;
        overflow: hidden;
    }

    .ninth-lower-column-container hr {
        width: 85%;
        opacity: 0.3;
    }

    .ninth-section-comments {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100%;
    }

    .ninth-section-comments img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-left: 5px;
    }

    .ninth-section-comments svg {
        margin-left: 48px;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width:1023px) {
    .ninth-container {
        grid-auto-rows: repeat (2, 1fr);
        display: grid;
        background: #FEF6F3;
        margin-top: 80px;
    }

    .ninth-upper-container {
        grid-row-start: 1;
        grid-row-end: 1;
        text-align: center;
    }

    .ninth-upper-container h4 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 70px;
        margin-bottom: 0px;
        color: #EF5F34;
        font-family: Roboto Slab, serif;
    }

    .ninth-upper-container h2 {
        font-size: 30px;
        text-transform: capitalize;
        font-family: Roboto Slab, serif;
        margin-top: 10px;
        color: #212158;
    }

    .ninth-upper-container p {
        color: #4F555A;
        font-size: 16px;
        line-height: 1.8em;
    }

    .ninth-lower-container {
        grid-row-start: 2;
        grid-row-end: 2;
        background: #FEF6F3;
    }

    .ninth-lower-column-container p {
        font-size: 14px;
        color: #5A5858;
        line-height: 1.8em;
        width: 70%;
        margin-left: 15px;
    }

    .ninth-lower-column-container h4 {
        font-weight: 600;
        color: #107569;
    }

    .ninth-lower-column-container {
        display: grid;
        grid-auto-rows: repeat(2, 1fr);
        grid-auto-columns: 1fr;
        grid-gap: 5px;
        align-content: center;
        justify-content: center;
    }

    .ninth-lower-column-container h2 {
        font-size: 17px;
        margin-left: 6px;
    }

    .ninth-lower-column-container a {
        color: #212158;
        transition: all .2s;
        text-decoration: none;
        font-weight: 600;
    }

    .ninth-lower-column-container img {
        height: 240px;
        width: 298px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ninth-lower-column-container a:hover {
        color: #EF5F34;
    }

    .ninth-lower-first-div {
        grid-row-start: 1;
        grid-row-end: 1;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 1px 15px 0 rgb(62 65 159 / 15%);
        border-radius: 15px;
        background: #fff;
        width: 298px;
        margin-top: 18px;
    }

    .ninth-lower-second-div {
        grid-column-start: 2;
        grid-column-end: 2;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 1px 15px 0 rgb(62 65 159 / 15%);
        border-radius: 15px;
        background: #fff;
        width: 298px;
        margin-top: 18px;
    }

    .ninth-lower-third-div {
        grid-row-start: 3;
        grid-row-end: 3;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 1px 15px 0 rgb(62 65 159 / 15%);
        border-radius: 15px;
        background: #fff;
        width: 298px;
        margin-top: 18px;
        margin-bottom: 80px;
    }

    .ninth-lower-column-container hr {
        width: 100%;
        opacity: 0.1;
    }

    .ninth-section-comments {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100%;
    }

    .ninth-section-comments img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-left: 15px;
    }

    .ninth-section-comments svg {
        font-size: 14px;
        color: #5A5858;
        margin-left: 60px;
    }

    #ninth-section-comments-template {
        font-size: 14px;
        color: #5A5858;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .ninth-container {
        grid-auto-rows: repeat (2, 1fr);
        display: grid;
        background: #FEF6F3;
        margin-top: 80px;
    }

    .ninth-upper-container {
        grid-row-start: 1;
        grid-row-end: 1;
        text-align: center;
    }

    .ninth-upper-container h4 {
        font-size: 17px;
        font-weight: 400;
        margin-top: 70px;
        margin-bottom: 0px;
        color: #EF5F34;
        font-family: Roboto Slab, serif;
    }

    .ninth-upper-container h2 {
        font-size: 20px;
        text-transform: capitalize;
        font-family: Roboto Slab, serif;
        margin-top: 10px;
        color: #212158;
    }

    .ninth-upper-container p {
        color: #4F555A;
        font-size: 15px;
        line-height: 1.8em;
        margin-left: 12px;
        margin-right: 12px;
    }

    .ninth-lower-container {
        grid-row-start: 2;
        grid-row-end: 2;
        background: #FEF6F3;
    }

    .ninth-lower-column-container p {
        font-size: 12px;
        color: #5A5858;
        line-height: 1.8em;
        width: 70%;
        margin-left: 15px;
    }

    .ninth-lower-column-container h4 {
        font-weight: 600;
        color: #107569;
    }

    .ninth-lower-column-container {
        display: grid;
        grid-auto-rows: repeat(3, 1fr);
        grid-gap: 5px;
        align-content: center;
        justify-content: center;
        width: 100%;
    }

    .ninth-lower-column-container h2 {
        font-size: 17px;
        margin-left: 6px;
    }

    .ninth-lower-column-container a {
        color: #212158;
        transition: all .2s;
        text-decoration: none;
        font-weight: 600;
    }

    .ninth-lower-column-container img {
        height: 240px;
        width: 298px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ninth-lower-column-container a:hover {
        color: #EF5F34;
    }

    .ninth-lower-first-div {
        grid-row-start: 1;
        grid-row-end: 1;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 1px 15px 0 rgb(62 65 159 / 15%);
        border-radius: 15px;
        background: #fff;
        width: 298px;
        margin-top: 18px;
    }

    .ninth-lower-second-div {
        grid-row-start: 2;
        grid-row-end: 2;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 1px 15px 0 rgb(62 65 159 / 15%);
        border-radius: 15px;
        background: #fff;
        width: 298px;
        margin-top: 18px;
    }

    .ninth-lower-third-div {
        grid-row-start: 3;
        grid-row-end: 3;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 1px 15px 0 rgb(62 65 159 / 15%);
        border-radius: 15px;
        background: #fff;
        width: 298px;
        margin-top: 18px;
        margin-bottom: 80px;
    }

    .ninth-lower-column-container hr {
        width: 100%;
        opacity: 0.1;
    }

    .ninth-section-comments {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100%;
    }

    .ninth-section-comments img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-left: 15px;
    }

    .ninth-section-comments svg {
        font-size: 14px;
        color: #5A5858;
        margin-left: 60px;
    }

    #ninth-section-comments-template {
        font-size: 14px;
        color: #5A5858;
    }
}