.about-sixth-section{
    grid-row-start: 6;
    grid-row-end: 6;
}

@media screen and (min-device-width: 1440px){
    .about-sixth-container{
        grid-auto-rows: repeat (2, 1fr);
        display: grid;  
    }
    
    .fourth-upper-container{
        grid-row-start: 1;
        grid-row-end: 1;
        text-align: center;
    }
    
    .fourth-upper-container h4{
        font-size: 1.2rem;
        color: #ef5f34;
        font-family: Roboto Slab,serif;
    }
    
    .fourth-upper-container h2{
        font-size: 2.66667rem;
        position: relative;
        text-transform: capitalize;
        font-family: Roboto Slab,serif;
        margin: 15px 0 20px;
    }
    
    .fourth-upper-container p{
        color: #4f555a;
        line-height: 1.8em;
        margin-left: 790px ;
        margin-right: 790px;
    }
    
    .fourth-section-donate{
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100%;
        
    }
    .fourth-section-donate p{
        margin-left: 10px;
    }
    
    .fourth-section-donate button{
    
        margin-left: 60px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        color: #333;
        font-weight: 500;
        width: 150px;
        border-radius: 40px;
        border: 1px solid #5dc4b8;
        color: #212158;
        transition: all .2s;
    }
    .fourth-section-donate button:hover{
        text-decoration: none;
        background-color: #5dc4b8;
        color: white;
    }
    
    
    .fourth-lower-container{
        grid-row-start: 2;
        grid-row-end:2;
    }
    
    .lower-column-container{
        display: grid;
        grid-auto-columns: repeat(3, 1fr);
        grid-gap: 50px;
        align-content: center;
        justify-content: center;
        width: 100%;
    }
    
    .lower-column-container div{
        box-shadow: 0 1px 15px 0 rgb(62 65 159 / 15%);
        border-radius: 15px;
        background: #fff;
    
    }
    .lower-column-container h2{
        font-size: 20px;
        width: 250px;
    }
    .lower-column-container hr{
        width: 85%;
        opacity: 0.3;
    }
    .lower-column-container a{
        color: #212158;
        transition: all .2s;
        text-decoration: none;
        font-weight: 600;
    }
    .lower-column-container a:hover{
        color: #ef5f34;
    }
    .education-div{
        grid-column-start: 1;
        grid-column-end: 1; 
    }
    .food-div{
        grid-column-start: 2;
        grid-column-end: 2;
    }
    .medicine-div{
        grid-column-start: 3;
        grid-column-end: 3;
    }
    }