.home-second-section{
    grid-row-start: 2;
    grid-row-end: 2;
}
@media screen and (min-device-width: 1440px){
.icon-div{
    display:grid;
    grid-auto-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    padding: 90px 0 60px;
    background-color: #fff;
    top: -75px;
    text-align: center;
}
.icon-div a {
    text-decoration: none;
    color:#212158;
    font-size: 26px;
    font-weight: 600;
}
.icon-div a:hover{
    color:#ef5f34;
}
.icon-div img{
    width: 80px;
    height: 80px;
    line-height: 175px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    top: -65px;
    padding: 30px 30px;
    background-color: #fff;
    margin: 15px 15px;
}
.first-box{
    grid-column-start: 1;
    grid-column-end: 1;
    background: #CAF7F2;
    border-radius: 15px;
    box-shadow: none;
    padding: 15px 75px 35px 75px;
}
.second-box{
    grid-column-start: 2;
    grid-column-end: 2;
    background: #FDE4DD;
    border-radius: 15px;
    box-shadow: none;
    position: relative;
    padding: 15px 75px 35px 75px;
}
.third-box{
    grid-column-start: 3;
    grid-column-end: 3;
    background: #D2ECF4;
    border-radius: 15px;
    box-shadow: none;
    position: relative;
    padding: 15px 75px 35px 75px;
}
.fourth-box{
    grid-column-start: 4;
    grid-column-end: 4;
    background: #FDF3E0;;
    border-radius: 15px;
    box-shadow: none;
    position: relative;
    padding: 15px 75px 35px 75px;
}
.image-box-container {
    margin: -45px;
}
}