.home-seventh-section {
    grid-row-start: 7;
    grid-row-end: 7;
}
@media screen and (min-device-width: 1440px){
.seventh-container {
    background-image: url("../../../Images/shape.png"),linear-gradient(rgba(239,95,52,.75),#ED4918);
    
    border-radius: 20px;
    display: grid;

    grid-auto-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin: 120px;
    margin-bottom: 20px;
}

.seventh-first-item{
    grid-column-start: 1;
    grid-column-end: 1;
}
.seventh-first-item h1{
    max-width: 560px;
    font-size: 50px;
    font-weight: 500;
    line-height: 80px;
    margin: 0;
    color: #fff;
}
.seventh-second-item{
    grid-column-start: 2;
    grid-column-end: 2;
}

.seventh-second-item button{
    padding: 15px 20px;
    background: #fff;
    border-radius: 5px;
    color: #062265;
    font-weight: 500;
    width: 265px;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    font-family: Roboto Slab,serif;
    border: none;
}
.seventh-third-item{
    grid-column-start: 3;
    grid-column-end: 3;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

}