.navbar-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.navbar-container a{
    text-decoration: none;
}
@media screen and (min-device-width: 1440px){

    .ham-menu{
        display: none;
    }

.img-container{
    width: 240px;
    height: 100px;
}
.center-buttons {
    
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: center;
}
.center-buttons a{
    color: #232F4B;
}
.center-buttons a:hover{
    color: #FD7E14;
}
.center-buttons button {
    margin:0px;
    font-size: 25px;
    padding: 35px 20px;
    border: none;
    background-color: #fff;
}
.center-buttons button:hover{
    border-bottom: 3.5px solid #FD7E14;
    color: #FD7E14;
    transform: scaleX(1)

}
.right-buttons button{
    margin:15px;
    font-size: 25px;
    padding: 35px 20px;

}
.right-buttons a{
    text-decoration: none;
}

.right-buttons {
    
    grid-column-start: 3;
    grid-column-end: 3;
    
    text-align: right;
   
}
#donate-btn a{
    color: white;
}
#donate-btn{
    background: linear-gradient(270deg,rgba(239,95,52,.75),#E34212);
    color: #fff;
    font-weight: 500;
    border-radius: 6px;
    border:none;
    padding:20px;
 
}
#donate-btn:hover{

    background:linear-gradient(270deg,#E34212,rgba(239,95,52,.75));
}
#search-nav{
    font-weight: 500;
    padding:18px;
    border: none;
    border-radius: 6px;
    background-color:#C9F0EB;
    color: #232F4B;
}

#search-nav a {
    color:#232F4B;
}

}
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {

    .ham-menu{
        grid-column: 1/1;
        align-self: center;
        text-align: center;
    }
    .img-container {
        grid-column-start: 2;
        grid-column-end: 2;
        text-align: center;
    }
   
    .right-buttons  {
       grid-column: 3/3;
       align-self: center;
        text-align: center;
        
    }
    #search-nav{
        font-weight: 500;
        padding:12px;
        border: none;
        border-radius: 6px;
        background-color:#C9F0EB;
        color: #232F4B;
    }
    
    #search-nav a {
        color:#232F4B;
    }
    #charitioLogo{
        width: 120px;
        height: 60px;
    }
    .center-buttons {
        display:none;
        
    }
    #donate-btn {
        display: none;
    }

    .navbar {
        position: sticky;
        z-index: 555;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        border: none;
    }

}

