.item-firstSection {
    padding: 4px;
 }
 .item-firstSection img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
     pointer-events: none;
 }
 .inner-first-carousel {
    display: flex;
 }
 .firstCarousel {
     cursor: grab;
     overflow: hidden;
 }