.item-firstSection {
    padding: 4px;
 }
 
 .item-firstSection img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    pointer-events: none;

 }
 
 .item-firstSection a {
     color: #212158;
     transition: all .2s;
     text-decoration: none;
     font-weight: 600;
     font-size: 20px;
     margin-bottom: 0px;
 }
 
 .item-firstSection a:hover{
     color: #ef5f34;
 }
 
 .item-firstSection p {
     color: #4F555A;
     font-size: 12px;
 }
 
 .inner-first-carousel {
    display: flex;
 }
 
 .firstCarousel {
     cursor: grab;
     overflow: hidden;
 }
 
 