.home-tenth-section {
  grid-row-start: 10;
  grid-row-end: 10;
}
@media screen and (min-device-width: 1440px) {
  .tenth-container {
    grid-auto-rows: repeat (2, 1fr);
    display: grid;
  }
  .tenth-upper-container {
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
  }
  .tenth-upper-container h4 {
    font-size: 1.2rem;
    color: #ef5f34;
    font-family: Roboto Slab, serif;
  }
  .tenth-upper-container h2 {
    font-size: 2.66667rem;
    position: relative;
    text-transform: capitalize;
    font-family: Roboto Slab, serif;
    margin: 15px 0 20px;
  }
  .tenth-upper-container p {
    color: #4f555a;
    line-height: 1.8em;
  }
  .tenth-lower-container {
    grid-row-start: 2;
    grid-row-end: 2;
    width: 100vw;
    margin: 80px 0px;
  }
}
@media screen and (min-device-width: 1024px) and (max-device-width: 1439px) {
  .tenth-container {
    grid-auto-rows: repeat (2, 1fr);
    display: grid;
    margin-top: 80px;
  }
  .tenth-upper-container {
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
  }
  .tenth-upper-container h4 {
    font-size: 18px;
    font-weight: 500;
    color: #ef5f34;
    font-family: Roboto Slab, serif;
  }
  .tenth-upper-container h2 {
    font-size: 35px;
    position: relative;
    text-transform: capitalize;
    font-family: Roboto Slab, serif;
    margin: 15px 0 20px;
    color: #212158;
  }
  .tenth-upper-container p {
    color: #4f555a;
    line-height: 1.8em;
    margin-left: 320px;
    margin-right: 320px;
  }
  .tenth-lower-container {
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 60px 0px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .tenth-container {
    grid-auto-rows: repeat (2, 1fr);
    display: grid;
  }
  .tenth-upper-container {
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
  }
  .tenth-upper-container h4 {
    margin-top: 80px;
    font-size: 17px;
    color: #ef5f34;
    font-family: Roboto Slab, serif;
  }
  .tenth-upper-container h2 {
    font-size: 18px;
    text-transform: capitalize;
    font-family: Roboto Slab, serif;
    color: #212158;
  }
  .tenth-upper-container p {
    color: #4f555a;
    line-height: 1.8em;
    margin-left: 15px;
    margin-right: 15px;
  }
  .tenth-lower-container {
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 40px 0px;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .tenth-container {
    grid-auto-rows: repeat (2, 1fr);
    display: grid;
  }
  .tenth-upper-container {
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
  }
  .tenth-upper-container h4 {
    margin-top: 80px;
    font-size: 17px;
    color: #ef5f34;
    font-family: Roboto Slab, serif;
  }
  .tenth-upper-container h2 {
    font-size: 18px;
    text-transform: capitalize;
    font-family: Roboto Slab, serif;
    color: #212158;
  }
  .tenth-upper-container p {
    color: #4f555a;
    line-height: 1.8em;
    margin-left: 15px;
    margin-right: 15px;
  }
  .tenth-lower-container {
    grid-row-start: 2;
    grid-row-end: 2;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 35px 0px;
  }
}
