.home-first-section {
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    grid-auto-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 150px;
}

@media screen and (min-device-width: 1440px) {

    .sliders-component {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-self: center;
        margin-left: 75px;
    }

    .first-section-first-div h3 {
        font-size: 22px;
        color: #EF5F34;
        font-weight: 600;
    }

    .first-section-first-div h1 {
        font-size: 60px;
        font-weight: 400;
        line-height: 85px;
        margin: 10px 0px 25px;
        color: #212158;
    }

    .first-section-first-div p {
        font-size: 25px;
        color: #676767;
        line-height: 35px;
        max-width: 595px;
        margin-bottom: 40px;
        font-weight: 400;
    }

    .first-section-first-div button {
        color: #fff;
        background: linear-gradient(270deg, rgba(93, 196, 184, .75), #41B2A5);
        cursor: pointer;
        line-height: 1.5;
        text-align: center;
        display: inline-block;
        font-weight: 500;
        padding: 10px 25px;
        border: 0;
        border-radius: 6px;
        text-transform: capitalize;
        font-size: 1.33333rem;
    }

    .first-section-first-div button:hover {
        background: linear-gradient(270deg, #41B2A5, rgba(93, 196, 184, .75));
    }

    .first-section-first-div {
        grid-column-start: 1;
        grid-column-end: 1;
        margin-left: 20px;
        width: 70%;
    }

    .first-section-second-div {
        grid-column-start: 2;
        grid-column-end: 2;
        text-align: right;
    }

    .first-section-third-div {
        grid-column-start: 3;
        grid-column-end: 3;
        text-align: right;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width:1439px) {
    .sliders-component {
        text-align: center;
        justify-content: center;
        align-self: center;
        display: flex;
    }

    .first-section-first-div h3 {
        font-size: 18px;
        color: #EF5F34;
        font-weight: 600;
    }

    .first-section-first-div h1 {
        font-size: 40px;
        font-weight: 400;
        line-height: 85px;
        color: #212158;
    }

    .first-section-first-div p {
        font-size: 18px;
        color: #676767;
        line-height: 35px;
        margin-bottom: 40px;
        font-weight: 400;
    }

    .first-section-first-div button {
        color: #fff;
        background: linear-gradient(270deg, rgba(93, 196, 184, .75), #41B2A5);
        cursor: pointer;
        line-height: 1.5;
        text-align: center;
        display: inline-block;
        font-weight: 500;
        padding: 10px 25px;
        border: 0;
        border-radius: 6px;
        text-transform: capitalize;
        font-size: 18px;
    }

    .first-section-first-div button:hover {
        background: linear-gradient(270deg, #41B2A5, rgba(93, 196, 184, .75));
    }

    .first-section-first-div {
        grid-column-start: 1;
        grid-column-end: 1;
        margin-left: 30px;


    }

    .first-section-second-div {
        grid-column-start: 2;
        grid-column-end: 2;
        text-align: right;
    }

    .first-section-second-div img {
        height: 400px;
        width: 300px;
    }

    #first-section-third-div-img {
        height: 400px;
        width: 280px;
    }

    .first-section-third-div {
        grid-column-start: 3;
        grid-column-end: 3;
        text-align: right;
    }

    .home-first-section {
        grid-row-start: 1;
        grid-row-end: 1;
        display: grid;
        grid-auto-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        margin-top: 150px;
    }

    #totalprojectsPic {
        height: 110px;

    }
}

@media screen and (min-device-width: 768px) and (max-device-width:1023px) {
    .home-first-section {
        grid-row-start: 1;
        grid-row-end: 1;
        display: grid;
        margin-top: 0px;
        background: #EBFCFA;
    }

    .sliders-component {
        display: none;
    }

    .first-section-first-div h3 {
        font-size: 19px;
        color: #EF5F34;
        font-weight: 600;
    }

    .first-section-first-div h1 {
        font-size: 25px;
        font-weight: 400;
        margin-right: 40px;
        color: #212158;
    }

    .first-section-first-div p {
        font-size: 14px;
        margin-right: 50px;
        color: #676767;
        line-height: 25px;
        font-weight: 400;
    }

    .first-section-first-div button {
        color: #fff;
        background: linear-gradient(270deg, rgba(93, 196, 184, .75), #41B2A5);
        cursor: pointer;
        line-height: 1.5;
        text-align: center;
        display: inline-block;
        font-weight: 500;
        border: 0;
        border-radius: 6px;
        text-transform: capitalize;
        font-size: 13px;
        padding: 8px 16px;
    }

    .first-section-first-div button:hover {
        background: linear-gradient(270deg, #41B2A5, rgba(93, 196, 184, .75));
    }

    .first-section-first-div {
        grid-column-start: 1;
        grid-column-end: 1;
        margin-left: 30px;
        margin-top: 45px;
        margin-bottom: 80px;
    }

    .first-section-second-div {
        display: none;
    }

    .first-section-third-div {
        display: none;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .home-first-section {
        grid-row-start: 1;
        grid-row-end: 1;
        display: grid;
        margin-top: 0px;
        background: #EBFCFA;
    }

    .sliders-component {
        display: none;
    }

    .first-section-first-div h3 {
        font-size: 19px;
        color: #EF5F34;
        font-weight: 600;
    }

    .first-section-first-div h1 {
        font-size: 25px;
        font-weight: 400;
        margin-right: 40px;
        color: #212158;
    }

    .first-section-first-div p {
        font-size: 14px;
        margin-right: 50px;
        color: #676767;
        line-height: 25px;
        font-weight: 400;
    }

    .first-section-first-div button {
        color: #fff;
        background: linear-gradient(270deg, rgba(93, 196, 184, .75), #41B2A5);
        cursor: pointer;
        line-height: 1.5;
        text-align: center;
        display: inline-block;
        font-weight: 500;
        border: 0;
        border-radius: 6px;
        text-transform: capitalize;
        font-size: 13px;
        padding: px;
    }

    .first-section-first-div button:hover {
        background: linear-gradient(270deg, #41B2A5, rgba(93, 196, 184, .75));
    }

    .first-section-first-div {
        grid-column-start: 1;
        grid-column-end: 1;
        margin-left: 15px;
        margin-top: 35px;
    }

    .first-section-second-div {
        display: none;
    }

    .first-section-third-div {
        display: none;
    }
}