.about-fourth-section{
    grid-row: 4/4;
 }
.about-fourth-container {
    grid-auto-columns: repeat (2, 1fr);
    display: grid;
    align-items: center;
    justify-items: center;

}

.about-left-fourth-section{
    grid-column-start: 1;
    grid-column-end: 1;
    
}

.about-right-fourth-section{
    grid-column-start: 2;
    grid-column-end: 2;
    
    
}



.about-right-fourth-section h4 {
    color: #ef5f34;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.about-right-fourth-section h2 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 65px;
    color: #212158;
}

.about-right-fourth-section p {
    font-size: 16px;
    color: #4f555a;
    line-height: 1.8em;
}

.about-right-fourth-section button{
    color: #fff;
    background: linear-gradient(270deg,rgba(93,196,184,.75),#41b2a5);
    cursor: pointer;
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
    padding: 10px 25px;
    border: 0;
    border-radius: 6px;
    text-transform: capitalize;
    font-size: 1.33333rem;
}

.about-right-fourth-section button:hover {
    background: linear-gradient(270deg,#41b2a5,rgba(93,196,184,.75));
}

.about-right-fourth-section ul li:before {
    position: absolute;
    left: 0;
    top: 50%;
    color: #ef5f34;
}

.about-right-fourth-section li {
    font-size: 16px;
    color: #4f555a;
    line-height: 1.8em;
}

.about-right-fourth-section ul{
        list-style: none;
        margin-bottom: 30px;
}

.about-right-fourth-section svg {
    fill: #ef5f34;
}