# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


node_modules
.cache-loader
.DS_Store
/tsc
/tmp
yarn-error.log
/test_reports
/temp
/types
/packages/*/types
/packages/*/lib
/packages/*/dist
/packages/*/tsc
/packages/*/junit.xml
/packages/*/tmp
/packages/*/coverage
/packages/*/cypress/screenshots
/packages/*/cypress/videos
/packages/*/cypress/fixtures/projection-tests.json
.cache-loader

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.turbo
stats.html

lerna-debug.log